/** @format */
html {
  scroll-behavior: smooth;
}

*,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  max-width: 1500px;
  margin: auto;
  background-color: #ebe8e6;
  position: relative;
  overflow-x: hidden;
}

nav {
  background: -webkit-gradient(linear, right top, left top, from(#334646), to(#465e5d));
  background: linear-gradient(right, #334646, #465e5d);
  width: 100%;
  padding: 10px 5px 5px 0px;
  height: 40px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin: 0;
  z-index: 1;
}

nav a {
  display: relative;
  padding: 0px 8px;
  text-decoration: none;
  color: #ebe8e6;
  float: right;
}

nav a:hover {
  color: black;
}

#welcome-section {
  color: #ebe8e6;
  padding: 50px 10% 50px 10%;
  min-height: 1150px;
  background: linear-gradient(45deg, teal, #004848);
}

#welcome-section .about-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  padding-top: 120px;
  font-size: 140%;
  margin-left: 10%;
}

#welcome-section .about-text h1 {
  display: inline;
  position: relative;
}

#welcome-section .about-text h1::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 5px;
  background-color: #ebe8e6;
  bottom: -8px;
  left: 0;
  border-radius: 3px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

#welcome-section .about-text h1:hover {
  cursor: -webkit-grab;
  cursor: grab;
}

#welcome-section .about-text h1:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

#welcome-section .about-text h1:active {
  color: #334646;
}

#welcome-section .about-text h1:active::after {
  background-color: #334646;
}

#welcome-section .skills {
  position: absolute;
  top: 500px;
  right: -20px;
  width: 50%;
  padding-top: 100px;
  margin-bottom: 500px;
}

#welcome-section .skills h2 {
  display: inline;
  position: relative;
  top: 0;
}

#welcome-section .skills h2::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 5px;
  background-color: #ebe8e6;
  bottom: -8px;
  left: 0;
  border-radius: 3px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

#welcome-section .skills h2:hover {
  cursor: -webkit-grab;
  cursor: grab;
}

#welcome-section .skills h2:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

#welcome-section .skills h2:active {
  color: #334646;
}

#welcome-section .skills h2:active::after {
  background-color: #334646;
}

#welcome-section .skills ul {
  font-size: 140%;
  list-style-type: none;
}

#welcome-section .about-text p {
  -webkit-transform: translateX(-120%);
          transform: translateX(-120%);
  -webkit-transform-origin: right;
          transform-origin: right;
  overflow: hidden;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

#welcome-section .skills ul,
#welcome-section .skills h3 {
  -webkit-transform: translateX(120%);
          transform: translateX(120%);
  -webkit-transform-origin: right;
          transform-origin: right;
  overflow: hidden;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

#welcome-section .skills ul {
  -webkit-transition: 0.6s 0.25s;
  transition: 0.6s 0.25s;
}

#welcome-section .skills ul li {
  padding-bottom: 6px;
}

#welcome-section .about-text p.inscope,
#welcome-section .skills ul.inscope,
#welcome-section .skills h3.inscope {
  display: inherit;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
}

h1,
h2 {
  font-size: 250%;
  font-weight: bolder;
  padding: 0;
  margin: 0;
}

#c-icon {
  width: 24px;
  position: relative;
  top: 3px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

#matlab-icon {
  width: 23px;
  -webkit-filter: grayscale(100%) brightness(150%);
          filter: grayscale(100%) brightness(150%);
}

#pd-icon {
  width: 23px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

#reaper-icon {
  width: 21px;
  -webkit-filter: grayscale(100%) brightness(100%);
          filter: grayscale(100%) brightness(100%);
  position: relative;
  top: 2px;
}

#affinity-icon {
  position: relative;
  top: 3px;
  width: 23px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

#abl-icon {
  width: 28px;
  height: 14px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

#jquery-icon {
  width: 25px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  position: relative;
  bottom: -5px;
}

#projects {
  background: linear-gradient(45deg, #d7e9e9, #b9cbca);
  width: 100%;
  height: auto;
  padding-top: 30px;
  overflow-x: hidden;
  padding-bottom: 50px;
}

#projects h2 {
  text-align: center;
  padding: 50px 0;
  color: #334646;
}

#projects #tiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px 0px 80px 0px;
}

#projects > a {
  display: block;
  margin: auto;
  width: 36%;
  height: 60px;
  background-color: #465e5d;
  margin-bottom: 100px;
  color: #ebe8e6;
  text-decoration: none;
  text-align: center;
  padding-top: 15px;
  font-size: 140%;
  border-radius: 2px;
  font-weight: bolder;
}

#projects > a:hover {
  background-color: #334646;
}

.project-tile {
  opacity: 0;
  position: relative;
  content: '';
  width: 420px;
  height: 520px;
  background-color: #f3f3f3;
  -webkit-box-shadow: 0 0 10px 4px grey;
          box-shadow: 0 0 10px 4px grey;
  border-radius: 2px;
  margin: 35px 20px;
  -webkit-transform: translateX(-1500px);
          transform: translateX(-1500px);
  -webkit-transition: opacity ease-out 2s 0.3s, -webkit-transform 0.9s 0.1s;
  transition: opacity ease-out 2s 0.3s, -webkit-transform 0.9s 0.1s;
  transition: transform 0.9s 0.1s, opacity ease-out 2s 0.3s;
  transition: transform 0.9s 0.1s, opacity ease-out 2s 0.3s, -webkit-transform 0.9s 0.1s;
}

.project-tile img {
  display: block;
  margin: auto;
  margin-top: 2.5%;
  width: 95%;
  height: auto;
  border: none;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.project-tile a {
  text-decoration: none;
}

.project-tile a h3 {
  position: absolute;
  bottom: 45px;
  left: 75px;
  text-align: center;
  padding-top: 14px;
  border-radius: 2px;
  width: 65%;
  height: 50px;
  background-color: teal;
  color: #ebe8e6;
}

.project-tile a:hover h3 {
  background-color: #004848;
}

#second-tile {
  -webkit-transform: translateX(1500px);
          transform: translateX(1500px);
}

#second-tile.inview {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.inview {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.disabled {
  display: none;
  visibility: hidden;
}

#contact-section {
  width: 100%;
  height: auto;
  background: linear-gradient(45deg, #465e5d, #334646);
  color: #ebe8e6;
  padding-top: 80px;
  padding-bottom: 80px;
}

#contact-section h2,
#contact-section h3 {
  text-align: center;
}

#contact-section h3 {
  font-size: 160%;
}

#contact-section .contact-links {
  margin: 0;
  padding: 45px 0px;
  text-align: center;
}

#contact-section .contact-links a {
  color: #ebe8e6;
  text-decoration: none;
  font-size: 35px;
  padding: 0 25px;
}

footer {
  position: relative;
  width: 100%;
  height: 45px;
  background-color: #798181;
  color: #ebe8e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer a {
  color: white;
}

@media (max-width: 900px) {
  #contact-section .contact-links a {
    display: block;
    margin-bottom: 15px;
  }
  .arrow-bdy,
  .arrow-bdy-two {
    opacity: 0;
    display: inline-block;
    position: absolute;
    -webkit-animation-name: jump;
            animation-name: jump;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-delay: 1.3s;
            animation-delay: 1.3s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .arrow-bdy-two {
    top: -12px;
    -webkit-animation-delay: 1.4s;
            animation-delay: 1.4s;
  }
  .arrow {
    /*    content: '';*/
    position: relative;
  }
  .arrow::before,
  .arrow::after {
    position: absolute;
    content: '';
    background-color: #ebe8e6;
    width: 25px;
    height: 6px;
  }
  .arrow::before {
    top: 32px;
    left: 16px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .arrow::after {
    top: 32px;
    left: 30px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  #welcome-section {
    height: auto;
    min-height: 100vh;
  }
  #welcome-section .skills,
  #welcome-section .about-text {
    margin: auto;
    position: unset;
    width: 100%;
    padding-top: 20px;
  }
  #welcome-section .skills {
    -webkit-transform: translateY(-270px);
            transform: translateY(-270px);
    -webkit-transition: -webkit-transform 0.4s 0.15s;
    transition: -webkit-transform 0.4s 0.15s;
    transition: transform 0.4s 0.15s;
    transition: transform 0.4s 0.15s, -webkit-transform 0.4s 0.15s;
  }
  #welcome-section .move-down {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: -webkit-transform 0.3s 0s;
    transition: -webkit-transform 0.3s 0s;
    transition: transform 0.3s 0s;
    transition: transform 0.3s 0s, -webkit-transform 0.3s 0s;
  }
}

@-webkit-keyframes jump {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  13% {
    opacity: 1;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  25% {
    opacity: 1;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  38% {
    opacity: 1;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  63% {
    opacity: 0;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@keyframes jump {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  13% {
    opacity: 1;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  25% {
    opacity: 1;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  38% {
    opacity: 1;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  63% {
    opacity: 0;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}
/*# sourceMappingURL=style.css.map */