/** @format */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  max-width: 1500px;
  margin: auto;
  background-color: #ebe8e6;
}

nav {
  background: -webkit-gradient(linear, right top, left top, from(#334646), to(#465e5d));
  background: linear-gradient(right, #334646, #465e5d);
  width: 100%;
  padding: 10px 5px 5px 0px;
  height: 40px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav a {
  padding: 0px 8px;
  text-decoration: none;
  color: #ebe8e6;
  float: right;
}

nav a:hover {
  color: black;
}

#welcome-section {
  padding: 100px 10% 50px 10%;
  height: 100vh;
  background: linear-gradient(45deg, teal, #004848);
}

#welcome-section h2 {
  float: right;
}

#welcome-section h1,
#welcome-section h2 {
  color: #ebe8e6;
}

h1,
h2 {
  font-size: 250%;
  font-weight: bolder;
  padding: 0;
  margin: 0;
  padding: 15px;
}

h1 {
  margin: 20vh 0px;
}

#projects {
  background: linear-gradient(45deg, #d7e9e9, #b9cbca);
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}

#projects h2 {
  text-align: center;
  padding: 50px 0;
}

#projects #tiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px 0px 80px 0px;
}

#projects > a {
  display: block;
  margin: auto;
  width: 36%;
  height: 60px;
  background-color: #465e5d;
  margin-bottom: 100px;
  color: #ebe8e6;
  text-decoration: none;
  text-align: center;
  padding-top: 15px;
  font-size: 140%;
  border-radius: 2px;
  font-weight: bolder;
}

#projects > a:hover {
  background-color: #334646;
}

.project-tile {
  content: '';
  width: 420px;
  height: 520px;
  background-color: #ebe8e6;
  -webkit-box-shadow: 0 0 10px 4px grey;
          box-shadow: 0 0 10px 4px grey;
  border-radius: 2px;
  margin: 35px 20px;
}

.project-tile img {
  display: block;
  margin: auto;
  margin-top: 2.5%;
  width: 95%;
  height: 75%;
  border: none;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.project-tile a {
  text-decoration: none;
  margin: auto;
}

.project-tile a h3 {
  margin: auto;
  text-align: center;
  padding-top: 5px;
  border-radius: 2px;
  margin-top: 33px;
  width: 65%;
  height: 40px;
  background-color: teal;
  color: #ebe8e6;
}

.project-tile a:hover h3 {
  background-color: #004848;
}

.disabled {
  display: none;
}

#contact-section {
  width: 100%;
  height: auto;
  background: linear-gradient(45deg, #465e5d, #334646);
  color: #ebe8e6;
}

#contact-section h2,
#contact-section h3 {
  text-align: center;
}

#contact-section .contact-links {
  margin: 0;
  padding: 45px 0px;
  text-align: center;
}

#contact-section .contact-links a {
  color: #ebe8e6;
  text-decoration: none;
  font-size: 35px;
  padding: 0 25px;
}

footer {
  position: relative;
  width: 100%;
  height: 45px;
  background-color: #798181;
  color: #ebe8e6;
}

footer span {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

footer #span2 {
  left: unset;
  right: 10px;
}

@media (max-width: 800px) {
  #contact-section .contact-links a {
    display: block;
    margin-bottom: 15px;
  }
}
/*# sourceMappingURL=style.css.map */