/** @format */

body {
  font-family: 'Futura', sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background: linear-gradient(left, #333, #555);
  padding: 10px 10px;
  height: 25px;
  position: sticky;
  top: 0;
  a {
    padding: 0px 5px;
    text-decoration: none;
    color: white;
    float: right;
  }
  a:hover {
    color: black;
  }
}

#welcome-section {
  padding: 100px 10% 50px 10%;
  height: 100vh;
  background: linear-gradient(-45deg, rgb(22, 230, 178), rgb(214, 255, 246));
  h2 {
    float: right;
  }
}

h1,
h2 {
  font-weight: lighter;
  padding: 0;
  margin: 0;
  padding: 15px;
}

#projects {
  background: linear-gradient(45deg, #eee, #ddd);
  h2 {
    text-align: center;
    padding: 25px 0;
  }
  #tiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.project-tile {
  content: '';
  width: 250px;
  height: 300px;
  background-color: #eee;
  box-shadow: 0 0 10px 4px grey;
  border-radius: 2px;
  margin: 15px 0;
}

.disabled {
  display: none;
}
